{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <section class="section container">
            <div class="row">
                <h4>Shopping Bag</h4>
                <hr>
            </div>
            <div class="row">
                <div class="col s12">
                    {% if bag_items %}
                        <div class="responsive-table">
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th class="col s4" scope="col">Product Info</th>
                                    <th class="col s2 offset-s2 center" scope="col">Price</th>
                                    <th class="col s2 center" scope="col">Qty</th>
                                    <th class="col s2 center" scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in bag_items %}
                                <tr>
                                    <td class="col s2">
                                        <img class="responsive-img materialboxed shopping-bag-image" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="col s3">
                                        <p class=""><strong>{{ item.product.name }}</strong></p>
                                        <p class="text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="col s2 offset-s1 center">
                                        <p class="">£{{ item.product.price }}</p>
                                    </td>
                                    <td class="col s2 center">
                                        <form class="update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                                            {% csrf_token %}
                                            <input class="center" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        </form>
                                        <a class="update-link text-info btn update-link">
                                            <small>Update</small>
                                        </a>
                                        <a class="remove-item btn remove-item" id="remove_{{ item.item_id }}">
                                            <small>Remove</small>
                                        </a>
                                    </td>
                                    <td class="col s2 center">
                                        <p class="">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="right">
                                    <div class="row">
                                        <h6 class="right"><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                                    </div>
                                    <div class="row">
                                        <h6 class="right">Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    </div>
                                    <h5 class=""><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h5>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="">
                                            You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            </table>
                            <table>
                            <tr>
                                <td colspan="5" class="right">
                                    <a href="{% url 'products' %}" class="btn">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% else %}
                        <p>Your bag is empty.</p>
                        <a href="{% url 'products' %}" class="btn">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                    {% endif %}
                </div>
            </div>
    </section>
{% endblock %}

{% block postloadjs %}
    <script>
    // Update quantity on click
    $(".update-link").click(function (e) {
        var form = $(this).prev(".update-form");
        form.submit();
    });

    // Remove item and reload on click
    $(".remove-item").click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr("id").split("remove_")[1];
        var url = `/bag/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data).done(function () {
        location.reload();
        });
    });
    </script>
{% endblock %}

