{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="slider slider-main">
                <ul class="slides slides-main">
                <li>
                    <img src="{% static 'img/city.jpeg' %}" alt="">
                    <div class="caption center-align">
                    <a href="#" class="btn btn-large">Learn More</a>
                    </div>
                </li>
                <li>
                    <img src="{% static 'img/statue_of_liberty1.png' %}" alt="">
                    <div class="caption left-align">
                    <a href="#" class="btn btn-large">Learn More</a>
                    </div>
                </li>
                <li>
                    <img src="{% static 'img/statue_of_liberty1.png' %}" alt="">
                    <div class="caption right-align">
                    <a href="#" class="btn btn-large">Learn More</a>
                    </div>
                </li>
                </ul>
</section>

<section class="container section scrollspy" id="about-me">
    <div class="row">
        <div class="col s12 l5">
            <h4 class="indigo-text-darken-4">About me...</h4>
            <p>Nulla sodales hendrerit urna, at imperdiet enim porttitor vel. Cras et egestas quam. Sed libero urna, sagittis eget dignissim in, aliquet eu nibh. Nunc nec lobortis augue. Maecenas ornare convallis varius. Nam gravida nisl aliquet, suscipit orci non, sodales diam. Donec vel tincidunt odio, fringilla aliquam ipsum.</p>
        </div>
        <div class="col s12 l6 offset-l1">
            <ul class="tabs">
                <li class="tab col s6">
                    <a clas="flow-text" href="#weddings">Weddings</a>
                </li>
                <li class="tab col s6">
                    <a clas="" href="#lifestyle">Lifestyle</a>
                </li>
            </ul>
            <div class="col s12" id="weddings">
                <p class="flow-text">Weddings</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nunc ligula, posuere vel ultrices a, varius in urna. Duis pretium tortor nec ligula mollis, nec commodo risus tempus. Sed dictum id tellus eu mattis.</p>
            </div>
            <div class="col s12" id="lifestyle">
                <p class="flow-text">Lifestyle</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nunc ligula, posuere vel ultrices a, varius in urna. Duis pretium tortor nec ligula mollis, nec commodo risus tempus. Sed dictum id tellus eu mattis.</p>
            </div>
        </div>
    </div>
</section>

<div class="parallax-container">
    <div class="">
        <img src="{% static 'img/wedding-couple-forrest.jpg' %}" alt="" class="responsive-img">
    </div>
</div>

<section class="container section workflow-section">
    <div class="row">
        <div class="col s12 l5">
            <img class="responsive-img materialboxed" src="{% static 'img/wedding-couple-background.jpg' %}" alt="wedding_lights_img">
        </div>
        <div class="col s12 l6 offset-l1">
            <h2 class="">Before</h2>
            <p>bousbgsgs</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l5 push-l7 offset-l1">
            <img class="responsive-img materialboxed" src="{% static 'img/city.jpeg' %}" alt="portrait_img">
        </div>
        <div class="col s12 l6 pull-l5 right-align">
            <h2 class="">During</h2>
            <p>bousbgsgs</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l5">
            <img class="responsive-img materialboxed" src="{% static 'img/nature.jpeg' %}" alt="portrait_img">
        </div>
        <div class="col s12 l6 offset-l1">
            <h2 class="">After</h2>
            <p>bousbgsgs</p>
        </div>
    </div>
</section>

<div class="parallax-container">
    <div class="parallax">
        <img src="{% static 'img/background-lights.jpg' %}" alt="" class="responsive-img">
    </div>
</div>

<section class="container section">
    <div class="row">
        <div class="col s12 m6">
            <h2>Get In Touch</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam iure id, sed pariatur dolor ipsa harum perspiciatis. Earum, officia laboriosam omnis quisquam, ad, voluptatibus repudiandae ea facere dolorum quos porro.</p>
        </div>
        <div class="col s12 m5 offset-m1">
            <h4>LINK TO CONTACT PAGE</h4>
        </div>
    </div>
</section>

    
{% endblock %}

