{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <section class="section container">
            <div class="row">
                <h4 class="center">MY PROFILE</h4>
                <hr>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <p class="text-muted">Default Deliver Information</p>
                    <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form.default_phone_number }}
                        {{ form.default_street_address1 }}
                        {{ form.default_street_address2 }}
                        {{ form.default_town_or_city }}
                        {{ form.default_county }}
                        {{ form.default_postcode }}
                        {{ form.default_country }}
                        <button class="btn">Update Information</button>
                    </form>
                </div>
                <div class="col s12 m6">
                    <p>Order History</p>
                    {{ orders }}
                </div>
            </div>
            {{ profile }}
    </section>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
