{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <section class="container">
            <div class="row">
                <h4 class="center">CHECKOUT</h4>
                <hr>
            </div>
            <div class="row checkout-container">
                <div class="col s12 m6">
                    <p><strong>Please fill out the form below to complete your order</strong></p>
                    <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                        {% csrf_token %}
                            <h5>Details</h5>
                            {{ order_form.full_name }} 
                            {{ order_form.email }}
                            <h5>Delivery</h5>
                            {{ order_form.street_address1 }}
                            {{ order_form.street_address2 }}
                            {{ order_form.town_or_city }}
                            {{ order_form.county }}
                            {{ order_form.postcode }}
                            {{ order_form.country }}
                            {{ order_form.phone_number }}
                            <div class="form-check">
                                {% if user.is_authenticated %}
                                    <label class="form-check-label" for="id-save-info">
                                        Save this delivery information to my profile
                                    </label>
                                    <input class="form-check-input" type="checkbox" id="id-save-info" name="save-info" checked>
                                {% else %}
                                    <label class="form-check-label" for="id-save-info">
                                        <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                                        <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                    </label>
                                {% endif %}
                            </div>
                            <h5 class="checkout-payment-header">Payment</h5>
                            <!-- A Stripe card element will go here -->
                            <div id="card-element"></div>
                            <!-- Use to display form errors -->
                            <div id="card-errors" role="alert"></div>
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>
                        <!-- Submit Button -->
                        <div class="center checkout-btns-row">
                            <a href="{% url 'view_bag' %}" class="btn adjust-bag-btn waves-effect waves-light">
                                <span class="">Adjust Bag</span>
                                <i class="material-icons right"><strong>chevron_right</strong></i>
                            </a>
                            <button id="btn" class="btn complete-order-btn waves-effect waves-light">
                                <span class="">Complete Order</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </button>
                            <p class="checkout-card-charge">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                <span>
                                    Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong>
                                </span>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="col s12 m5 offset-m1">
                    <h6 class="right-align">Order Summary ({{ product_count }})</h6>
                    <div class="row order-summary">
                        <div class="col s8 order-summary-item">
                            <h6><strong>Item</strong></h6>
                        </div>
                        <div class="col s4 right-align order-summary-subtotal">
                            <h6><strong>Subtotal</strong></h6>
                        </div>
                        {% for item in bag_items %}
                            <div class="row order-summary-details">
                                <div class="col s4">
                                    <a href="{% url 'product_detail' item.product.id %}">
                                        {% if item.product.image %}
                                            <img class="responsive-img materialboxed" src="{{ item.product.image.url }}"
                                            alt="{{ product.name }}"/>
                                        {% else %}
                                            <img class="responsive-img materialboxed" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}"/>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col s5">
                                    <p class="order-summary-name"><strong>{{ item.product.name }}</strong></p>
                                    <p class="order-summary-quantity">Qty: {{ item.quantity }}</p>
                                </div>
                                <div class="col s3 right-align">
                                    <p class="order-summary-price">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                        <div class="row right-align">
                            <div class="col s9 offset-2">
                                <p class="order-summary-total">Order Total:</p>
                                <p>Delivery:</p>
                                <h6>Grand Total:</h6>
                            </div>
                            <div class="col s3">
                                <p class="order-summary-total">£{{ total | floatformat:2 }}</p>
                                <p>£{{ delivery | floatformat:2 }}</p>
                                <h6><strong>£{{ grand_total | floatformat:2 }}</strong></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="loading-overlay">
                <h1 class="logo-font loading-spinner"></h1>
                <span class="icon">
                    <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                </span>
            </div>
    </section>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
