/* _____Global Settings_____ */

body {
    font-family: 'Karla', sans-serif;
    color: #2C2C2C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

p {
    font-size: 1.15rem;
    font-weight: 300;
}

/* _____Form dropdowns_____ */

select,
select option {
    display: block;
    color: #000000;
    border: none;
    border-bottom: 1px solid #9e9e9e;
}

/* _____Navbar_____ */

.nav-container {
    width: 80%;
}

.nav-wrapper {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

header {
    line-height: 84px;
}

nav.nav-wrapper.white {
    line-height: 84px;
    margin-bottom: 20px;
}

nav ul li a,
nav ul li a i,
nav ul li a span,
nav a {
    color: #5a5a5a;
    font-size: 1.25rem;
    font-weight: 300;
}

.dropdown-content li {
    min-height: 0;
    line-height: 25px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #5a5a5a;
    padding: 10px;
}

nav a.sidenav-trigger {
    height: 84px;
}

nav .sidenav-trigger i {
    height: 84px;
}

.shopping-bag {
    height: 84px;
}

.fas.fa-shopping-bag {
    margin: 0 4px 0 16px;
}

.fas.fa-user {
    margin-right: 4px;
}

/* _____Footer_____  */

.page-footer {
    padding: 0;
    margin-bottom: 10px;
}
.footer-content {
    margin-bottom: 0;
}

.footer-content .footer-icon {
    padding: 0;
    color: #2C2C2C;
}

div.container.footer-copyright-text {
    color: #2C2C2C;
}

a.footer-icon {
    padding: 0 10px;
}

i.material-icons {
    margin-left: 0;
}

i.fa-twitter-square,
i.fa-facebook,
i.fa-instagram {
    padding: 0 4px;
}


/* _____HR_____ */

hr {
    border: 0;
    height: 1px;
    background-color: rgb(90, 89, 89);
    background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(rgb(192, 192, 192)), to(#ccc));
    background-image: -o-linear-gradient(left, #ccc, rgb(192, 192, 192), #ccc);
    background-image: linear-gradient(to right, #ccc, rgb(192, 192, 192), #ccc);
}

/* _____Buttons_____ */

/* All buttons */
.btn {
    padding: 0 12px;
}

/* Lock icon on buttons */
i.fa-lock {
    margin-left: 5px;
}

/* Navbar Account Dropdown */
a.dropdown-btn.dropdown-button {
    margin: 0;
    padding: 0 5px 0 10px;
    font-size: 14.5px;
    text-transform: inherit;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Homepage */
.contact-btn {
    background-color: #e2c14d;
    color: #000000;
    font-size: 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

.contact-btn:hover {
    background-color: #dbbc4b;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Portfolio */
a.category-dropdown-btn.dropdown-button {
    color: rgba(16, 57, 90, 0.718);
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0 15px;
    text-transform: uppercase;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.category-dropdown-content li>a {
    color: rgba(16, 57, 90, 0.718);
    padding: 0;
    line-height: 35px;
}

a.portfolio-category-btn {
    color: rgba(16, 57, 90, 0.718);
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 4px;
}

a.portfolio-category-btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Shop */
.product-dropdown-content li>a {
    color: rgba(16, 57, 90, 0.718);
    padding: 0;
    line-height: 35px;
}

a.product-category-btn {
    color: rgba(16, 57, 90, 0.718);
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 4px;
}

a.product-category-btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.keep-shopping-btn {
    background-color: #e2c14d;
    color: #000000;
    font-size: 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

.keep-shopping-btn:hover {
    background-color: #dbbc4b;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}

a.edit-btn {
    color: #557375;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 4px;
    margin: 0 4px;
}

a.edit-btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}

a.delete-btn {
    color: #985258;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 4px;
    margin: 0 4px;
}

a.delete-btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Product Detail Page */
.add-to-bag-btn {
    background-color: #657d81;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

a.add-to-bag-btn span {
    font-size: 15px;
}
    
.add-to-bag-btn input[type="submit"] {
    color: #fff;
    font-size: 15px;
}

.add-to-bag-btn:hover {
    background-color: #5e7579;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Shopping Bag */
a.update-link,
a.remove-item {
    padding: 0 8px;
}

.update-item-btn {
    color: rgba(16, 57, 90, 0.718);
    -webkit-box-shadow: none;
            box-shadow: none;
    /* border: 1px solid rgb(185, 182, 182); */
    border-radius: 4px;
}

.update-item-btn:hover {
    /* border: 1px solid rgba(16, 57, 90, 0.718); */
    -webkit-box-shadow: none;
            box-shadow: none;
}

.remove-item-btn {
    color: rgba(173, 26, 26, 0.685);
    -webkit-box-shadow: none;
            box-shadow: none;
    /* border: 1px solid rgb(185, 182, 182); */
    border-radius: 4px;
}

.remove-item-btn:hover {
    /* border: 1px solid rgb(94, 92, 92); */
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Profile Page */
.update-profile-info-btn {
    background-color: #657d81;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
    margin: 15px 0 25px 0;
}

.update-profile-info-btn:hover {
    background-color: #657d81;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Sign Out Page */
.sign-out-btn {
    background-color: #985258;
    font-weight: 300;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

.sign-out-btn:hover {
    background-color: #975157;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Sign In Page */
.signin-btn {
    background-color: #557375;
    font-size: 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

.signin-btn:hover {
    background-color: #557375;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}

.home-btn {
    background-color: #e2c14d;
    color: #000000;
    font-size: 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

.home-btn a {
    color: #000000;
}

.home-btn:hover {
    background-color: #dbbc4b;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Password Reset Page */
.password-reset-btn {
    background-color: #557375;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

input.reset-btn-input {
    color: #fff;
    font-size: 15px;
}

.password-reset-btn:hover {
    background-color: #557375;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}

.back-to-login-btn {
    background-color: #e2c14d;
    color: #000000;
    font-size: 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

.back-to-login-btn a {
    color: #000000;
}

.back-to-login-btn:hover {
    background-color: #dbbc4b;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Confirm Email Page */
.confirm-email-btn {
    color: rgba(20, 114, 76, 0.719);
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

.confirm-email-btn:hover {
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Add/Edit Product Page */

.cancel-add-product-btn,
.cancel-edit-product-btn {
    background-color: #e2c14d;
    color: #000000;
    font-size: 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

.cancel-add-product-btn:hover,
.cancel-edit-product-btn:hover {
    background-color: #dbbc4b;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}

.add-product-btn,
.edit-product-btn {
    background-color: #657d81;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

.add-product-btn:hover,
.edit-product-btn:hover {
    background-color: #5e7579;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Add/Edit Project Page */

.cancel-add-project-btn,
.cancel-edit-project-btn {
    background-color: #e2c14d;
    color: #000000;
    font-size: 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

.cancel-add-project-btn:hover,
.cancel-edit-project-btn:hover {
    background-color: #dbbc4b;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}

.add-project-btn,
.edit-project-btn {
    background-color: #657d81;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

.add-project-btn:hover,
.edit-project-btn:hover {
    background-color: #5e7579;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}


/* _____Homepage_____ */

.slider-main {
    height: 80vh;
}

.slider .slides-main {
    height: 80vh;
}

.about-me-section {
    padding: 50px 0;
}

.about-me-section-row {
    margin: 0;
}

.about-me-background-col {
    margin-bottom: 15px;
}

.about-me-background-col p {
    margin: 8px 0;
}

.about-me-background-col h6 {
    font-weight: 300;
}

div.about-me-direction-text {
    margin: 40px 0 0 0;
}

.about-me-direction-text h5 {
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 0;
}

i.fas.fa-angle-double-down {
    font-size: 4rem;
    opacity: 60%;
    color: #e2c14d;
    margin: 1.5rem 0 0 0;
}

.parallax-container {
    height: 300px;
}

.workflow-section {
    padding: 4rem 0 2.5rem 0;
}

.workflow-section div.row {
    margin-bottom: 2.25rem;
}

.workflow-section div.material-placeholder {
    margin-bottom: 15px;
}

.workflow-subheader {
    font-weight: 300;
    color: #5a5a5a;
    margin: 0;
}

.contact-section {
    padding: 50px 0 80px 0;
}

.contact-header-row {
    margin: 0;
    padding-left: 0.75rem;
}

.contact-header {
    margin: 0 0 10px 0;
    font-weight: 300;
}

.contact-text {
    margin: 0 0 25px 0;
}

.contact-btn-col {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* _____Portfolio_____ */

.portfolio-filter-by-direction {
    margin-right: 6px;
    font-size: 1.4rem;
    vertical-align: middle;
}

.filter-portfolio-category-text {
    margin: 30px 0 30px 0;
}

div.card.portfolio-card {
    border-radius: 2px;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

div.card-content {
    padding: 0;
}
.portfolio-card.card-content {
    padding: 0;
    border-radius: 2px;   
}

.portfolio-image {
    position: relative;
    width: 100%;
    border-radius: 2px;   
}

.image-img {
    display: block;
    width: 100%;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 2px;   
}

.image-overlay > * {
    transform: translateY(25px);
    transition: transform 0.5s;
}

.image-overlay:hover {
    opacity: 1;
}

.image-overlay:hover > * {
    transform: translateY(0);
}

div.image-overlay-title {
    font-weight: 300;
    letter-spacing: 0.2rem;
}

.portfolio-contact-section {
    margin-bottom: 60px;
}

.portfolio-contact-text {
    margin-bottom: 15px;
}


/* _____Shop_____ */

.container.delivery-banner-container {
    margin-top: 10px;
    border-radius: 2px;
}

.delivery-banner {
    height: 2.1rem;
    background-color: #5e914abd;
    border-radius: 2px;
}

.delivery-banner-text {
    margin: 0;
    height: 100%;
    justify-content: center;
    font-weight: 300;
    font-size: 1.25rem;
}

.products-filter-by-direction {
    margin-right: 6px;
    font-size: 1.4rem;
    vertical-align: middle;
}

.filter-product-category-text {
    margin: 30px 0 30px 0;
}

.product-card {
    border-radius: 1px;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    min-height: 220px;
}

.product-card .card-content {
    padding: 0 6px 10px 6px;
}

.product-card .card-image img {
    border-radius: 2px;
    height: 100%;
}

.product-card .card-image {
    margin-bottom: 10px;
    height: 200px;
}

.product-card .card-image .card-title {
    padding: 0 0 0 10px;
    font-size: 1.25rem;
    color: #fff;
}

div.row.product-size,
div.row.product-price {
    padding-left: 16px;
    margin-bottom: 6px;
}

/* _____Product Detail Page_____ */

.product-detail {
    margin-top: 3.5rem;
}

.product-detail-card {
    border-radius: 1px;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    min-height: 220px;
    padding: 0 3px;
}

.product-detail-name,
.product-detail-description,
.product-detail-size,
.product-detail-price,
.product-detail-quantity,
.product-detail-adj-btns {
    margin-bottom: 15px;
    padding-left: 10px;
}

h5.product-detail-name-header {
    font-weight: 300;
}


.product-detail-adj-btns {
    margin-bottom: 15px;
    padding: 0;
}

#product-detail-action-btns {
    margin: 0;
}

.product-detail-name h5,
.product-detail-description p,
.product-detail-size p,
.product-detail-price p,
.product-detail-quantity p {
    margin: 0;
}

div#product-detail-quantity-text.col.s3 {
    padding-right: 0;
}

input#product-quantity-count {
    height: 1.5rem;
    width: 30%;
}

/* _____Shopping Bag_____ */

div.col.shopping-bag-image {
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.bag-product-title {
    margin-top: 5px;
}

.bag-product-name,
.bag-product-sku {
    margin: 3px 0;
}

.bag-quantity-row {
    margin: 0;
}

.bag-adjust-btns {
    margin-bottom: 3px;
}

a.update-link,
a.remove-item {
    height: 20px;
    line-height: 100%;
    margin-top: 2px;
    text-align: center;
}

.shopping-bag-value {
    padding-right: 10px;
}

.shopping-bag-total,
.shopping-bag-delivery {
    padding-right: 11px;
}

.shopping-bag-btns-row {
    border: none;
}

.shopping-bag-btns {
    padding: 4px 0;
}

/* _____Checkout_____ */

.order-summary {
    padding-right: 10px;
}

.order-summary-details {
    margin-bottom: 10px;
}

div.col.order-summary-subtotal {
    padding-right: 0;
}

div.col.order-summary-item {
    padding-left: 0;
}

.order-summary-name,
.order-summary-quantity {
    margin-top: 0;
    margin-bottom: 3px;
}

.order-summary-price {
    margin: 26px 0 0 0;
}

.order-summary-total {
    margin-top: 2px;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* Switch column order in mobile view */
.profile-container {
    display: inline-block;
}

@media screen and (max-width: 531px) {
    .profile-container { display: flex; flex-flow: column-reverse; }
}

/* _____Checkout Success_____ */

.checkout-success-header {
    text-transform: uppercase;
}

.checkout-success-info-header {
    margin: 0;
}

.checkout-success-order-info-header-row {
    margin: 0 0 10px 0;
}

.checkout-success-info-header-row {
    margin: 25px 0 10px 0;
}

.checkout-success-info-row {
    margin: 10px 0;
}

.checkout-success-info-category {
    margin: 0;
    padding-left: 8px;
}

.checkout-success-info-data {
    margin: 0;
    padding-left: 8px;
}

/* _____Product Form_____ */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
    opacity: 100%;
}

/* _____Profile Page_____ */

.order-history-header {
    padding-left: 10px;
    margin-bottom: 15px;
}

.default-delivery-header {
    margin-bottom: 15px;
}

.order-history-container {
    margin-bottom: 40px;
}

.order-summary-items {
    margin-top: 0;
}

/* _____Allauth form formatting_____ */

.allauth-form-inner-content {
    margin-top: 1.5rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-header {
    text-transform: uppercase;
}

/* Sign Up Page */

.signup-directions {
    margin: 30px 0;
}

/* Sign In Page */

.signin-directions {
    margin: 30px 0;
}

/* Signout Page */

.signout-question {
    margin: 20px 0;
}

/* Password Reset */

.password-reset-directions {
    margin: 30px 0;
}

.reset-btn-input {
    border: none;
    background-color: none;
    background: transparent;
    text-transform: uppercase;
    color: rgba(20, 114, 76, 0.719);
    font-size: 15px;
    padding: 0;
}
