body {
    font-family: 'Karla', sans-serif;
    /* background-color: #F9F9F9; */
    color: #2C2C2C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

/* Navbar */

.nav-container {
    width: 80%;
}

.nav-wrapper {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

nav.nav-wrapper {
    margin: 10px 0;
}

nav ul li a,
nav ul li a i,
nav ul li a span,
nav a {
    color: #5a5a5a;
    font-size: 1.25rem;
    font-weight: 300;
}

.dropdown-content li {
    min-height: 0;
    line-height: 25px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #5a5a5a;
    padding: 10px;
}

.shopping-bag {
    height: 64px;
}

.fas.fa-shopping-bag {
    margin: 0 4px 0 16px;
}

.fas.fa-user {
    margin-right: 4px;
}

/* Footer  */

.page-footer {
    padding: 0;
}
.footer-content {
    margin-bottom: 0;
}

.footer-content .footer-icon {
    padding: 0;
    color: #2C2C2C;
}

div.container.footer-copyright-text {
    color: #2C2C2C;
}

a.footer-icon {
    padding: 0 10px;
}

i.material-icons {
    margin-left: 0;
}

hr {
    border: 0;
    height: 1px;
    background-color: rgb(90, 89, 89);
    background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(rgb(192, 192, 192)), to(#ccc));
    background-image: -o-linear-gradient(left, #ccc, rgb(192, 192, 192), #ccc);
    background-image: linear-gradient(to right, #ccc, rgb(192, 192, 192), #ccc);
}

/* Buttons */

a.dropdown-btn.dropdown-button {
    margin: 0;
    padding: 0 5px 0 10px;
    font-size: 14.5px;
    text-transform: inherit;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.slider-main {
    height: 85vh;
}

.slider .slides-main {
    height: 85vh;
}

#about-me {
    padding-top: 2rem;
}

.product-category-buttons {
    margin-bottom: 20px;
}

a.product-category-btn {
    color: rgba(16, 57, 90, 0.718);
    font-weight: 400;
    font-size: 16px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 8px;
}

a.product-category-btn:hover {
    border: 1px solid rgb(16, 57, 90);
    -webkit-box-shadow: none;
            box-shadow: none;
}

a.keep-shopping-btn {
    color: rgba(16, 57, 90, 0.718);
    font-size: 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

a.keep-shopping-btn:hover {
    border: 2px solid rgba(16, 57, 90, 0.718);
    -webkit-box-shadow: none;
            box-shadow: none;
}

a.reversal-button {
    color: rgba(16, 57, 90, 0.718);
    font-size: 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

a.reversal-button:hover {
    border: 2px solid rgba(16, 57, 90, 0.718);
    -webkit-box-shadow: none;
            box-shadow: none;
}

.add-to-bag-btn {
    background-color: #4a7738bd;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

.add-to-bag-btn input[type="submit"] {
    color: #fff;
    font-size: 15px;
}

.add-to-bag-btn:hover {
    background-color: #4b743abd;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* .progress-button {
    background-color: #cddc39;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #444444;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 8px;
}

.progress-button:hover{
    background-color: #b4c013;
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
} */

a.update-link,
a.remove-item {
    padding: 0 8px;
}

.update-item-btn {
    color: rgba(16, 57, 90, 0.718);
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

.update-item-btn:hover {
    border: 1px solid rgba(16, 57, 90, 0.718);
    -webkit-box-shadow: none;
            box-shadow: none;
}

.remove-item-btn {
    color: rgba(173, 26, 26, 0.685);
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 4px;
}

.remove-item-btn:hover {
    border: 1px solid rgb(94, 92, 92);
    -webkit-box-shadow: none;
            box-shadow: none;
}


/* Homepage */

.tabs .indicator {
    background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: transparent;
}

/* Shop */

.container.delivery-banner-container {
    margin-top: 10px;
    border-radius: 2px;
}

.delivery-banner {
    height: 2.1rem;
    background-color: #5e914abd;
    border-radius: 2px;
}

.delivery-banner-text {
    margin: 0;
    height: 100%;
    justify-content: center;
    font-weight: 300;
    font-size: 1.25rem;
}

.filter-category-text {
    margin: 30px 0 5px 0;
}

.product-card {
    border-radius: 1px;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    min-height: 220px;
}

.product-card .card-content {
    padding: 0 6px 10px 6px;
}

.product-card .card-image img {
    border-radius: 2px;
    height: 100%;
}

.product-card .card-image {
    margin-bottom: 10px;
    height: 200px;
}

.product-card .card-image .card-title {
    padding: 0 0 0 10px;
    font-size: 1.25rem;
    color: #fff;
}

div.row.product-size,
div.row.product-price {
    padding-left: 16px;
    margin-bottom: 6px;
}

/* Product Detail */

.product-detail {
    margin-top: 3.5rem;
}

.product-detail-card {
    border-radius: 1px;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    min-height: 220px;
    padding: 0 3px;
}

.product-detail-name,
.product-detail-description,
.product-detail-size,
.product-detail-price,
.product-detail-quantity {
    margin-bottom: 20px;
    padding-left: 10px;
} */

#product-detail-action-btns {
    margin: 0;
}

.product-detail-name h5,
.product-detail-description p,
.product-detail-size p,
.product-detail-price p,
.product-detail-quantity p {
    margin: 0;
}

div#product-detail-quantity-text.col.s3 {
    padding-right: 0;
}

input#product-quantity-count {
    height: 1.5rem;
    width: 30%;
}



/* Shopping Bag */

.shopping-bag-image {
    max-height: 300px;
}

.bag-product-title {
    margin-top: 5px;
}

.bag-product-name,
.bag-product-sku {
    margin: 3px 0;
}

.bag-quantity-row {
    margin: 0;
}

.bag-adjust-btns {
    margin-bottom: 3px;
}

a.update-link,
a.remove-item {
    height: 25px;
    line-height: 100%;
    margin: 2px 0;
    text-align: center;
}


/* Allauth form formatting */

.allauth-form-inner-content {
    margin-top: 1.5rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}