body {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

/* Navbar   */

.nav-wrapper {
    padding: 20px 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.nav-wrapper .a {
    font-size: 15.5px;
}

.fas.fa-shopping-bag {
    margin: 0 2px 0 12px;
}

/* Footer  */

.page-footer {
    padding: 0;
}
.footer-content {
    margin-bottom: 0;
}

.footer-content .footer-icon {
    padding: 0;
}


i.material-icons {
    margin-left: 0;
}

hr {
    border: 0;
    height: 1px;
    background-color: rgb(90, 89, 89);
    background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(rgb(192, 192, 192)), to(#ccc));
    background-image: -o-linear-gradient(left, #ccc, rgb(192, 192, 192), #ccc);
    background-image: linear-gradient(to right, #ccc, rgb(192, 192, 192), #ccc);
}

/* Buttons */

a.dropdown-btn.dropdown-trigger {
    margin: 0;
    padding: 0 5px 0 10px;
    font-size: 14.5px;
    text-transform: inherit;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}




.banner-pic {
    background-image: url("/static/img/man.jpeg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.tabs .indicator{
      background-color: #1a237e;
    }
    .tabs .tab a:focus, .tabs .tab a:focus.active{
      background: transparent;
    }


/* Photo Categories */

.photo-categories {
    padding: 4vw 0;
}