{% extends "account/base.html" %}

{% block extra_title %}Password{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <div class="container">
        <h4 class="center allauth-header">{% trans "Change Password" %}</h4>

        <div class="container">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row center-align"></div>
                    <div class="btn btn-small waves-effect waves-light home-btn">
                        <a class="" href="{% url 'account_login' %}"><strong>Back to Login</strong></a>
                        <i class="material-icons right"><strong>chevron_right</strong></i>
                    </div>
                    <button class="btn btn-small signin-btn waves-effect waves-light" type="submit">
                        {% trans "Change Password" %}
                        <i class="material-icons right">chevron_right</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
