{% extends "account/base.html" %}

{% block extra_title %}Password{% endblock %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <div class="container">
        <h4 class="center allauth-header">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="btn btn-small waves-effect waves-light home-btn">
                        <a class="" href="{% url 'account_login' %}"><strong>Back to Login</strong></a>
                        <i class="material-icons right"><strong>chevron_right</strong></i>
                    </div>
                    <div class="btn btn-small password-reset-btn waves-effect waves-light">
                        <input class="reset-btn-input" type="submit" value="{% trans 'change password' %}" />
                        <i class="material-icons right">chevron_right</i>
                    </div>
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
