{% extends "base.html" %}
{% load static %}

{% block extra_title %}Contact{% endblock %}

{% block content %}
    <div class="container contact-form">
        <h4 class="center">GET IN TOUCH</h4>
        <hr>
        <div class="container">
            <div class="row">
                <h6>Want to know anything more about what I can offer, or have an exciting event or project that you would like me to capture... please just fill in the contact form below and we can chat! Michael</h6>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <div class="form-actions center-align">
                <button class="btn" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}