{% extends "base.html" %}
{% load static %}

{% block custom_header_class %}

{% endblock %}

{% block content %}
<section class="shop-banner" id="shop-banner">
    <div class="container">
            <h4 class="center">SHOP</h4>
            <hr>
    </div>
</section>
<section class="container delivery-banner-container">
    <div class="delivery-banner white-text row">
        <p class="delivery-banner-text valign-wrapper">Free delivery available on orders over £{{ free_delivery_threshold }}!</p>
    </div>
</section>
<section class="container" id="shop-catgory-filter">
    <div class="row filter-category-text">
        <h5 class="center flow-text">Filter by Category</h5>
    </div>
        <div class="row center product-category-buttons">
            <a class="btn waves-effect waves-light transparent product-category-btn" href="{% url 'products' %}?category=landscape,cityscape">
                <strong>All</strong>
            </a>
            <a class="btn waves-effect waves-light transparent product-category-btn" href="{% url 'products' %}?category=landscape">
                <strong>Landscape</strong>
            </a>
            <a class="btn waves-effect waves-light transparent product-category-btn" href="{% url 'products' %}?category=cityscape">
                <strong>Cityscape</strong>
            </a>
        </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col s12 m4">
                    <div class="card product-card">
                        <div class="card-content product-card">
                            <div class="card-image">
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    <span class="card-title">{{ product.descriptive_name }}</span>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}" >
                                        <img class="center-align" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                            </div>
                            <hr>
                            <div class="row product-size">
                                <p>{{ product.size }}</p>
                            </div>
                            <div class="row product-price">
                                <p><strong>£{{ product.price }}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

